div.notes {
  margin: 0;
  > h2 {
    margin-top: 5px;
    margin-bottom: 13px;
    color: #191813;
    border: none;
    font-size: 21px;
    border: 0;
  }
  height: calc(100% - 25px);
  > div {
    height: 100%;
    h2 {
      margin: 6px 0;
    }
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
  }
}
