.mythras {
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: rgba($color: black, $alpha: 0.75);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    top: -40px;
    left: 105%;

    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .text-red {
    color: red;
  }

  .text-darkred {
    color: darkred;
  }

  .text-goldenrod {
    color: goldenrod;
  }

  .text-green {
    color: green;
  }
}
