@font-face {
  font-family: 'Fanwood';
  src: url('../fonts/Fanwood/FanwoodText-Regular.ttf');
}

@font-face {
  font-family: 'Suravaram';
  src: url('../fonts/Suravaram/Suravaram-Regular.ttf');
}

@font-face {
  font-family: 'Mythras';
  src: url('../fonts/Mythras/Mythras.otf');
}

@font-face {
  font-family: 'Amethysta';
  src: url('../fonts/Amethysta/Amethysta-Regular.ttf');
}
