<form class="{{cssClass}} item-sheet equipment-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50" />
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="equip-section">
      <div class="equipment-core">
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Storage'}}</h3>
            <select name="system.storage" data-dtype="String">
              {{#select system.storage}}
              <option value="Unknown">{{localize 'MYTHRAS.No_Storage'}}</option>
              {{#each availableStorage as |storage|}}
              <option value="{{storage.id}}">{{storage.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.ENC'}}</h3>
            <input type="text" name="system.encumbrance" value="{{system.encumbrance}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Quantity'}}</h3>
            <input type="text" name="system.quantity" value="{{system.quantity}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.AP'}}</h3>
            <input type="text" name="system.ap" value="{{system.ap}}" />
          </div>
          <div>/</div>
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.HP'}}</h3>
            <input type="text" name="system.hp" value="{{system.hp}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Value'}}</h3>
            <input type="text" name="system.value" value="{{system.value}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="equip-section">
      <div class="weapon-core">
        <div class="weapon-core-section">
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Damage'}}</h3>
            <input type="text" name="system.damage" value="{{system.damage}}" />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.DM'}}</h3>
            <input type="checkbox" name="system.damageModifier" {{checked system.damageModifier}} />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Size'}}</h3>
            <select id="char-change" name="system.size" data-dtype="String">
              {{#select system.size}}
              <option value="S">{{localize 'MYTHRAS.Small'}}</option>
              <option value="M">{{localize 'MYTHRAS.Medium'}}</option>
              <option value="L">{{localize 'MYTHRAS.Large'}}</option>
              <option value="H">{{localize 'MYTHRAS.Huge'}}</option>
              <option value="E">{{localize 'MYTHRAS.Enormous'}}</option>
              <option value="BE">{{localize 'MYTHRAS.Beyond_Enormous'}}</option>
              {{/select}}
            </select>
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Reach'}}</h3>
            <select id="char-change" name="system.reach" data-dtype="reach">
              {{#select system.reach}}
              <option value="T">{{localize 'MYTHRAS.Touch'}}</option>
              <option value="S">{{localize 'MYTHRAS.Short'}}</option>
              <option value="M">{{localize 'MYTHRAS.Medium'}}</option>
              <option value="L">{{localize 'MYTHRAS.Long'}}</option>
              <option value="VL">{{localize 'MYTHRAS.Very_Long'}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Combat_Effects'}}</h3>
          <input type="text" name="system.combat-effects" value="{{system.combat-effects}}" />
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Traits'}}</h3>
          <input type="text" name="system.traits" value="{{system.traits}}" />
        </div>
      </div>
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc" data-group="primary">
      {{ editor system.description target="system.description" button=true editable=editable}}
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}
</form>