<form class="{{cssClass}} item-sheet skill-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
      <h1>{{totalVal}}%</h1>
    </div>
  </header>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="upper-flex">
      <div class="skill-section-left">
        <div class="skill-section">
          <h3>{{localize 'MYTHRAS.Base_Characteristics'}}</h3>
          <span class="resource">
            <select id="char-change" name="system.primaryChar" data-dtype="String">
              {{#select system.primaryChar}}
              <option value="str">{{localize 'MYTHRAS.Strength'}}</option>
              <option value="con">{{localize 'MYTHRAS.Constitution'}}</option>
              <option value="siz">{{localize 'MYTHRAS.Size'}}</option>
              <option value="dex">{{localize 'MYTHRAS.Dexterity'}}</option>
              <option value="int">{{localize 'MYTHRAS.Intelligence'}}</option>
              <option value="pow">{{localize 'MYTHRAS.Power'}}</option>
              <option value="cha">{{localize 'MYTHRAS.Charisma'}}</option>
              {{/select}}
            </select>
          </span>
          <span>+</span>
          <span class="resource">
            <select id="char-change" name="system.secondaryChar" data-dtype="String">
              {{#select system.secondaryChar}}
              <option value="str">{{localize 'MYTHRAS.Strength'}}</option>
              <option value="con">{{localize 'MYTHRAS.Constitution'}}</option>
              <option value="siz">{{localize 'MYTHRAS.Size'}}</option>
              <option value="dex">{{localize 'MYTHRAS.Dexterity'}}</option>
              <option value="int">{{localize 'MYTHRAS.Intelligence'}}</option>
              <option value="pow">{{localize 'MYTHRAS.Power'}}</option>
              <option value="cha">{{localize 'MYTHRAS.Charisma'}}</option>
              {{/select}}
            </select>
          </span>
        </div>
        <div class="skill-section">
          <h3>{{localize 'MYTHRAS.Other'}}</h3>
          <div class="other-flex">
            <div>
              <label>
                <p>{{localize 'MYTHRAS.ENC_Penalty'}}</p>
              </label>
              <input type="checkbox" class="char-enc" disabled="disabled" checked="" />
            </div>
            <div>
              <label>
                <p>{{localize 'MYTHRAS.Trained'}}</p>
              </label>
              <input id="train-check" type="checkbox" name="system.trained" {{checked system.trained}} />
            </div>
            <div>
              <label>
                <p>{{localize 'MYTHRAS.Fumbled'}}</p>
              </label>
              <input id="fumble-check" type="checkbox" name="system.fumbled" {{checked system.fumbled}} />
            </div>
          </div>
        </div>
      </div>

      <div class="skill-section-right">
        <div class="skill-section">
          <div class="improvements-flex">
            <div>
              <label>
                <p>{{localize 'MYTHRAS.TRAINING'}}</p>
              </label>
              <input id="skill-mod" type="text" name="system.trainingVal" value="{{system.trainingVal}}" />%
            </div>
            <div>
              <label>
                <p>{{localize 'MYTHRAS.MISC'}}</p>
              </label>
              <input id="skill-mod" class="misc-input" type="text" name="system.miscBonus"
                value="{{system.miscBonus}}" />%
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="combat-flex">
      <h3>{{localize 'MYTHRAS.Weapons'}}</h3>
      <input type="text" name="system.weapons" value="{{system.weapons}}" />
      <h3>{{localize 'MYTHRAS.Traits'}}</h3>
      <input type="text" name="system.traits" value="{{system.traits}}" />
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc skill-section" data-group="primary">
      {{ editor system.description target="system.description" button=true editable=editable}}
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}
</form>